#RABBIT MQ
RABBIT_MQ_URI=amqp://rabbitmq:5672
RABBIT_MQ_AUTH_QUEUE=auth
RABBIT_MQ_BILLING_QUEUE=billing

#JWT
JWT_SECRET=
JWT_EXPIRATION=3600

#MONGO
MONGODB_URI=mongodb://username:password@mongodb:27017/flohmarkt?authSource=admin

# POSTGRES
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=flohmarkt_plus

# GMAIL MAIL SERVICE 
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=username@gmail.com
SMTP_PASS=xxxx xxxx xxxx
SMTP_FROM=FlohMarkt+ <noreply@flohmarkt.com>


# SERVICE PORTS
ORDERS_SERVICE_PORT=3949
AUTH_SERVICE_PORT=3950
BILLING_SERVICE_PORT=3951
LISTINGS_SERVICE_PORT=3952
MARKETS_SERVICE_PORT=3953
MESSAGES_SERVICE_PORT=3954

# URLs
USERS_SERVICE_URL=http://auth:3950
FRONTEND_URL=http://localhost:3000
