# MongoDB connection string
MONGODB_URI=mongodb://root:YOUR_MONGODB_PASSWORD@mongodb-primary:27017/?replicaSet=rs0

# Service port
PORT=3949

#RABBITMQ SETTINGS
RABBIT_MQ_URI=amqp://rabbitmq:5672
RABBIT_MQ_BILLING_QUEUE=billing

# JWT settings (should match auth service)
JWT_EXPIRATION=3600
JWT_SECRET=jwt_secret